# Control de versiones
.git
.gitignore
.gitattributes

# Entorno virtual de Python
env/
venv/
ENV/
.env

# Archivos de caché
__pycache__/
*.py[cod]
*$py.class
*.so
.pytest_cache/
.coverage
htmlcov/

# Archivos de log
*.log

# Archivos de Docker
Dockerfile
docker-compose.yml
.dockerignore

# Archivos del sistema
.DS_Store
Thumbs.db